body {
    font-family : 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color :#777777;
}
/*
.main-header {
    background-color: #ffffff;
    border-color: #cccccc;
}

.footer {
    background-color: #666666;
    border-color: #cccccc;
}

header {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color : #4aaaa5;
}

.nav-ul {
    list-style-type: none;
}

li {
    float : left;
}
*/